.App {
}

h1 {
    background-color: lightgrey;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: none;
    width: 100%;
}

a:hover + .box,
.box:hover {
    display: block;
    position: relative;
    z-index: 100;
}
