.App {
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/*
.wrapper > * {
    padding: 10px;
    flex: 1;
}
*/

.wrapper2 {
    display: flex;
    flex-flow: nowrap;
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

/*
:*.wrapper2 > * {
    padding: 10px;
}
*/

.header {
    background: rgb(71, 172, 255);
    font-weight: bold;
    text-align: center;
}

.footer {
    background: lightgreen;
}

.speciesName {
    text-align: center;
    background: deepskyblue;
    align-self: stretch;
    order: 2;
}

.worldMap {
    background: red;
    order: 1;
    align-self: stretch;
}

.animalPicture {
    background: greenyellow;
    order: 3;
}

.otherSpecies {
    background: lightgrey;
    flex-grow: 1;
    align-items: flex-start;
}

.speciesArticle {
    background: moccasin;
    flex-grow: 2;
    align-self: stretch;
}

audio {
    width: 200;
}

@media all and (min-width: 800px) {
    .aside {
        flex: 1 1 0;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 1 1 0px;
    }
    .worldMap {
        order: 1;
    }
    .speciesName {
        order: 2;
    }
    .animalPicture {
        order: 3;
    }
    .otherSpecies {
        order: 4;
    }
    .speciesArticle {
        order: 5;
    }
    .footer {
        order: 6;
    }
}

/*
body {
    padding: 2em;
}
*/
