.App {
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: rgb(71, 172, 255);
}

.footer {
    background: lightgreen;
}

.speciesName {
    text-align: center;
    background: deepskyblue;
    padding: 10px;
    flex: 1 1 0;
    margin: 0;
}

.worldMap {
    background: whitesmoke;
}

.animalPicture {
    background: whitesmoke;
}

@media all and (min-width: 300px) {
    .aside {
        flex: 1 1 0;
    }
}

@media all and (min-width: 300px) {
    .main {
        flex: 1 1 0px;
    }
    .worldMap {
        order: 1;
    }
    .speciesName {
        order: 2;
    }
    .animalPicture {
        order: 3;
    }
    .footer {
        order: 4;
    }
}

body {
    padding: 2em;
}
